.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;

    .next-icon {
        font-size: 50px;
        color: grey
    }

    .next-icon:hover {
        color: black
    }
    

    .info {
        display: flex;
        width: 80%;

        .half {
            margin: 10px;
            border: 1px solid #EAEBEC;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px;

            .title {
                width: 100%;
                height: 20%
            }


            img {
                    width: 100%;
                    height: 60%;
                }

            .content {
                width: 100%;
                height: 20%
            }
        }

        .half:hover {
            background-color: #F5F5F5;
        }
    }
}