.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;

    .title {
        width: 80%;
        text-align: left;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .image_text {
        width: 80%;
        display: flex;
        justify-content: center;
        background-color: #E0E0E0;
        padding: 20px;

        .images {
            width: 50%;
            height: auto;
            overflow: hidden;
            margin-right: 20px;
            display: flex;
            align-items: center;
        

            img {
                // width: 100%;
                width: 100%;
                // height: 300px;
                // margin: -75px 0 0 -100px;
                position: relative;
                z-index: 1;
                transition: transform 2s ease;
                transition: margin-left 0.8s cubic-bezier(0.5, 0.1, 0.5, 1.25);
                
            }

            .icon-right:hover, .icon-left:hover {
                color: white;
            }

            .icon-left {
                font-size: 40px;
                position: absolute;
                z-index: 2;
                cursor: pointer;
                color: grey;
                left: 10%;
                margin-left: 30px;
            }

            .icon-right {
                position: absolute;
                font-size: 40px;
                cursor: pointer;
                z-index: 3;
                color: grey;
                left: 50%;
                margin-left: -70px;
                
            }


        }

        .text {
            width: 50%;
            padding: 30px;
            line-height: 2.0;
        }
    }

}